{% extends "layout.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron banner">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-8">
        <h1 class="display-3" ></h1>
        <h4 class="glow">Investigation of methods for firmware analysis of embedded Linux Devices in preparation for security testing / fuzzing.</h4>
        <p><a class="btn btn-primary btn-lg" href="/documentation" role="button">See Documentation &raquo;</a></p>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

      <div class="container">
        {% if error|length > 1 %}
        <div class="alert alert-warning" role="alert">
          {{error}}
        </div>
        {% endif %}
      </div>

      <div class="container">

        <div class="row">
          <div class="col-md-3">
            <ul class="list-group">
              <li class="list-group-item">Name: {{project.name}}</li>
              <li class="list-group-item">Uploads: {{project.uploads}}</li>
              <li class="list-group-item">Start: {{project.Date}}</li>
            </ul>
          </div>

          <div class="col-md-9">
            <h2>Firmware Uploads:</h2>
            <!-- 3 -->
                <form action="/firmware/upload/{{project.project_id}}" method="POST" class="dropzone" id="my-dropzone">
                  <div class="fallback">
                    <input name="file" type="file" multiple />
                    <input name="version" type="text" />
                    <input type="submit" value="Upload" />
                  </div>
                </form>
            </br>
            <p><a class="btn btn-primary btn-lg" href="/projects/show/{{project.project_id}}" role="button">Back to project!</a></p>
          </div>
        </div>

        <hr>
      </div> <!-- /container -->
      
{% endblock %}