{% extends "layout.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron banner">
        <div class="container">
          <div class="row">
            <div class="col-md-3"></div>
              <div class="col-md-8">
                <h1 class="display-3" ></h1>
                <h4 class="glow">Investigation of methods for firmware analysis of embedded Linux Devices in preparation for security testing / fuzzing.</h4>
                <p><a class="btn btn-primary btn-lg" href="/documentation" role="button">See Documentation &raquo;</a></p>
              </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </div>

    <div class="container">
      {% if error|length > 1 %}
      <div class="alert alert-warning" role="alert">
        {{error}}
      </div>
      {% endif %}
    </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Projects:</h2>
            {% for project in projectList %}
            <p>{{ project.name }}</p>
            {% endfor %}
            <p><a class="btn btn-secondary" href="/projects" role="button">Manage Projects &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Firmwares</h2>
            <p>... </p>
            <p><a class="btn btn-secondary" href="/firmwares" role="button">Manage/Upload Firmware &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Results</h2>
            <p></p>
            <p><a class="btn btn-secondary" href="/results" role="button">View Results &raquo;</a></p>
          </div>
        </div>

        <hr>


      </div> <!-- /container -->
      
{% endblock %}