<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>efi4st</title>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/dropzone.js"></script>
      <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
      <script>
          $(document).ready(function(){
              $("#myInput").on("keyup", function() {
                  var value = $(this).val().toLowerCase();
                  $("#myTable tr").filter(function() {
                      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                  });
              });
          });
      </script>
    <!-- Custom styles for this template -->
    <link rel="icon" href="/static/images/efi4st_favicon.png" type="image/png">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/jumbotron.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link href="/static/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/dropzone.css" type="text/css" rel="stylesheet" /><link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css" />
  </head>
  <body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">efi4st</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
              <!-- First Dropdown: FirmwareInspection -->
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="firmwareDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      FirmwareInspection
                  </a>
                  <div class="dropdown-menu" aria-labelledby="firmwareDropdown">
                      <a class="dropdown-item" href="/projects">Projects</a>
                      <a class="dropdown-item" href="/firmwares">Firmwares</a>
                      <a class="dropdown-item" href="/relevantApps">Relevant Apps</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/testResults">Module Results</a>
                  </div>
              </li>
              <!-- Product Security Management Button -->
              <li class="nav-item">
                  <a class="nav-link text-light font-weight-bold" href="/sms_projects">Product Security Management</a>
              </li>

          </ul>
      </div>
  </nav>
      <main role="main">

          <div id="content">
              {% block content %}{% endblock %}
          </div>

    </main>

  </br>
    <footer class="container">
      <p>&copy; Admiral Helmut</p>
    </footer>

    </body>
    </html>