{% extends "layout.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron banner">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-8">
        <h1 class="display-3" ></h1>
        <h4 class="glow">Investigation of methods for firmware analysis of embedded Linux Devices in preparation for security testing / fuzzing.</h4>
        <p><a class="btn btn-primary btn-lg" href="/documentation" role="button">See Documentation &raquo;</a></p>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

      <div class="container">
        {% if error|length > 1 %}
        <div class="alert alert-warning" role="alert">
          {{error}}
        </div>
        {% endif %}
      </div>

      <div class="container">

        <div class="row">
          <div class="col-md-3">
            <ul class="list-group">
              <li class="list-group-item">Name: {{firmware.name}}</li>
              <li class="list-group-item">Date: {{ firmware.Created|truncatechars:13}}</li>
              <li class="list-group-item">Size: {{firmware.sizeInBytes}}</li>
              <li class="list-group-item">Version: {{firmware.version}}</li>
            </ul>
          </div>
          <div class="col-md-3">
              <ul class="list-group">
                <li class="list-group-item">Tests: {{numberOfResults}}</li>
                <li class="list-group-item">Apps: {{numberOfApps}}</li>
              </ul>
              <br>
              <p><a class="btn btn-primary btn-lg" href="/modules/run/copyAndExtractFileSystem.sh/{{firmware.firmware_id}}" role="button">Check out &raquo;</a></p>
          </div>
          <div class="col-md-6">
              <h2>Results:</h2>
              <table class="table">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Date</th>
                  <th>Modul</th>
                  <th><i class="fa fa-trash-o"></i></th>
                </tr>
                </thead>
                <tbody>
                {% for result in projectResults %}
                <tr>
                  <td><a href="/testResults/show/{{ result.testResult_id }}">{{ result.testResult_id }}</a></td>
                  <td>{{ result.Created|truncatechars:13 }}</td>
                  <td>{{ result.moduleName }}</td>
                  <td><a href="/testResults/remove/{{ result.testResult_id }}" class="button"><i class="fa fa-close"></i></a></td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>

        </div>

        <hr>
          <div class="row">
              <div class="col-md-1">
              </div>
              <div class="col-md-10">
                  <h2>Detected Applications:</h2>
                  <table class="table">
                      <thead>
                      <tr>
                          <th>Name</th>
                          <th>Path</th>
                          <th>extPort</th>
                          <th>extProtocoll</th>
                          <th>intInterface</th>
                          <th>Score</th>
                          <th><i class="fa fa-trash-o"></i></th>
                      </tr>
                      </thead>
                      <tbody>
                      {% for relApp in relevantAppsList %}
                      <tr>
                          <td><a href="/relevantApps/show/{{ relApp.relevantApps_id }}">{{ relApp.name }}</a></td>
                          <td>{{ relApp.path }}</td>
                          <td>{{ relApp.extPort }}</td>
                          <td>{{ relApp.extProtocoll }}</td>
                          <td>{{ relApp.intInterface|truncatechars:13 }}</td>
                          <td>{{ relApp.msg }} / 14</td>
                          <td><a href="/relevantApps/remove/{{relApp.relevantApps_id}}" class="button"><i class="fa fa-close"></i></a></td>
                      </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
              <div class="col-md-1">
              </div>
          </div>
        <hr>

        <div class="row">
          <div class="col-md-6">
              <h5>Static Analysis</h5>
              <table class="table">
                  <thead>
                  <tr>
                    <th>Module</th>
                    <th>Description</th>
                    <th>Exec.</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><a>Executable Finder</a></td>
                    <td>All exec. binaries of system</td>
                    <td><a href="/modules/run/startDefaultSearchWithPipe.sh/{{firmware.firmware_id}}">Run</a></td>
                  </tr>
                  <tr>
                      <td><a>Init System</a></td>
                      <td>Check Init system for start apps</td>
                      <td><a href="/modules/run/initSystemChecker">Run</a></td>
                  </tr>
                  <tr>
                      <td><a>File Content</a></td>
                      <td>Check file content for starts</td>
                      <td><a href="/modules/run/fileContentAnalysis">Run</a></td>
                  </tr>
                  <tr>
                      <td><a>Bash Init</a></td>
                      <td>Check bash initialization</td>
                      <td><a href="/modules/run/bashInitAnalysis">Run</a></td>
                  </tr>
                  <tr>
                      <td><a>Cron Jobs</a></td>
                      <td>Search Cron Jobs</td>
                      <td><a href="/modules/run/startCronJobSearch.sh/{{firmware.firmware_id}}">Run</a></td>
                  </tr>
                  </tbody>
                </table>
          </div>
          <div class="col-md-6">
              
              <h5>Local System Analysis</h5>
              <table class="table">
                  <thead>
                  <tr>
                    <th>Module</th>
                    <th>Description</th>
                    <th>Exec.</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><a>Local Processes</a></td>
                    <td>List system processes</td>
                    <td><a href="/modules/run/localProcessLister">Run</a></td>
                  </tr>
                  <tr>
                      <td><a>Process Interfaces</a></td>
                      <td>Check interfaces of processes</td>
                      <td><a href="/modules/run/localProcessInterfaces">Run</a></td>
                  </tr>
                  <tr>
                      <td><a>System Controls</a></td>
                      <td>Check status and controls of system</td>
                      <td><a href="/modules/run/localStatusControls">Run</a></td>
                  </tr>
                  <tr>
                      <td><a>File System Analysis</a></td>
                      <td>Analyze Files that contain management info</td>
                      <td><a href="/modules/run/localFileSystemAnalysis">Run</a></td>
                  </tr>
                  </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h5>Dynamic Analysis</h5>
                <table class="table">
                    <thead>
                    <tr>
                      <th>Module</th>
                      <th>Description</th>
                      <th>Exec.</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td><a>Portscanner</a></td>
                      <td>port analysis with nmap</td>
                      <td><a href="/modules/run/dynNmap">Run</a></td>
                    </tr>
                    <tr>
                        <td><a>Protocoll Tests</a></td>
                        <td>Simple Protocoll tests like HTTP</td>
                        <td><a href="/modules/run/dynSimpleProtocolls">Run</a></td>
                    </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col-md-6">
                
                <h5>Local Interface Analysis</h5>
                <table class="table">
                    <thead>
                    <tr>
                      <th>Module</th>
                      <th>Description</th>
                      <th>Exec.</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td><a>Network interfaces</a></td>
                      <td>status of network interfaces</td>
                      <td><a href="/modules/run/localDynNetworkInterfaces">Run</a></td>
                    </tr>
                    <tr>
                        <td><a>File System</a></td>
                        <td>dynamic File System Analysis</td>
                        <td><a href="/modules/run/localDynFileSystemAnalysis">Run</a></td>
                    </tr>
                    <tr>
                        <td><a>File Handles</a></td>
                        <td>Check File Handles and used Files</td>
                        <td><a href="/modules/run/localDynFileHandles">Run</a></td>
                    </tr>
                    </tbody>
                  </table>
              </div>
          </div>
        <hr>
      </div> <!-- /container -->
      
{% endblock %}