{% extends "layout.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron banner">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-8">
        <h1 class="display-3" ></h1>
        <h4 class="glow">Investigation of methods for firmware analysis of embedded Linux Devices in preparation for security testing / fuzzing.</h4>
        <p><a class="btn btn-primary btn-lg" href="/documentation" role="button">See Documentation &raquo;</a></p>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

      <div class="container">
        {% if error|length > 1 %}
        <div class="alert alert-warning" role="alert">
          {{error}}
        </div>
        {% endif %}
      </div>

      <div class="container">

        <div class="row">
          <div class="col-md-3">
            <ul class="list-group">
              <li class="list-group-item">Name: {{project.name}}</li>
              <li class="list-group-item">Uploads: {{project.uploads}}</li>
              <li class="list-group-item">Start: {{project.Date|truncatechars:13}}</li>
            </ul>
          </div>

          <div class="col-md-9">
            <h2>Firmware Uploads:</h2>
              <table class="table">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for firmware in firmwareList %}
                <tr>
                  <td><a href="/firmware/show/{{ firmware.firmware_id }}">{{ firmware.name }}</a></td>
                  <td>{{ firmware.Created|truncatechars:13}}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            <p><a class="btn btn-primary btn-lg" href="/firmware/show/upload/{{project.project_id}}" role="button">Upload</a></p>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
            <h2>Results:</h2>
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Link</th>
              </tr>
              </thead>
              <tbody>
              {% for result in projectResults %}
              <tr>
                <td><a href="/results/show/{{ result.result_id }}">{{ result.name }}</a></td>
                <td>{{ result.date }}</td>
                <td><a href="/results/remove/{{ result.result_id }}">{{ result.name }}</a></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <hr>
      </div> <!-- /container -->
      
{% endblock %}