{% extends "layout.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron banner">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-8">
        <h1 class="display-3" ></h1>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

      <div class="container">
        {% if error|length > 1 %}
        <div class="alert alert-warning" role="alert">
          {{error}}
        </div>
        {% endif %}
      </div>

      <div class="container">
        <h1>Artefact: {{artefact.name}}</h1>
        <div class="row">
          <div class="col-md-3">
            <ul class="list-group">
              <li class="list-group-item">Name: {{artefact.artefact_id}}</li>
              <li class="list-group-item">Version: {{artefact.version}}</li>
              <li class="list-group-item">Type: {{artefact.artefactype_join}}</li>
            </ul>
          </div>

          <div class="col-md-9">
            <h2>Used in:</h2>
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Version</th>
                <th>Del</th>
              </tr>
              </thead>
              <tbody>
              {% for device in devicesParentsOfArtefact %}
              <tr>
                <td><a href="/sms_devices/show/{{ device.device_id }}">{{ device.name }}</a></td>
                <td>{{ device.version }}</td>
                <td></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <hr>
        <hr>

        <div class="row">
          <div class="col-md-6">
            <h2>Results:</h2>

          </div>
          <div class="col-md-6">
            <h2>Results:</h2>

          </div>
        </div>

        <hr>
      </div> <!-- /container -->
      
{% endblock %}