{% extends "layout.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron banner">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-8">
        <h1 class="display-3" ></h1>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

      <div class="container">
        {% if error|length > 1 %}
        <div class="alert alert-warning" role="alert">
          {{error}}
        </div>
        {% endif %}
      </div>

      <div class="container">
        <h1>Device (Model)</h1>
        <div class="row">
          <div class="col-md-5">
            <ul class="list-group">
              <li class="list-group-item"><h2>Name: {{device.devicetype_id}}</h2></li>
              <li class="list-group-item">Date: {{device.date|truncatechars:13}}</li>
              <li class="list-group-item">Version: <h3>{{device.version}}</h3></li>
            </ul>
          </div>

          <div class="col-md-7">
            <h2>Used in following Systems:</h2>
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Version</th>
                <th>Del</th>
              </tr>
              </thead>
              <tbody>
              {% for system in systemsParentsOfDevice %}
              <tr>
                <td><a href="/sms_systems/show/{{ system.system_id }}">{{ system.name }}</a></td>
                <td>{{ system.version }}</td>
                <td></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-12">
            <h2>Release Notes:</h2> <p><a class="btn btn-primary btn-lg" href="/sms_releaseNote/createSMSReleaseNote/{{device.device_id}}" role="button">Add</a></p>
            <table class="table">
              <thead>
              <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Details</th>
                <th>Link</th>
              </tr>
              </thead>
              <tbody>
              {% for releaseNote in deviceReleaseNotes %}
              <tr>
                <td>{{ releaseNote.date|truncatechars:13 }}</td>
                <td>{{ releaseNote.releaseNoteType }}</td>
                <td>{{ releaseNote.details|truncatechars:40 }}</td>
                <td><a href="/sms_releaseNote/show/{{ releaseNote.releasenote_id }}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <hr>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <h2>Applications:</h2> <p><a class="btn btn-primary btn-lg" href="/sms_softwarePartOfDevice/createSMSSoftwarePartOfDevice/{{device.device_id}}" role="button">Add</a></p>
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Version</th>
                <th>Del</th>
              </tr>
              </thead>
              <tbody>
              {% for app in applicationsUnderDevice %}
              <tr>
                <td><a href="/sms_softwares/show/{{ app.software_id }}">{{ app.name }}</a></td>
                <td>{{ app.version }}</td>
                <td></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>

          </div>
          <div class="col-md-6">
            <h2>Artefacts:</h2> <p><a class="btn btn-primary btn-lg" href="/sms_artefactPartOfDevice/createSMSArtefactPartOfDevice/{{device.device_id}}" role="button">Add</a></p>
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Version</th>
                <th>Del</th>
              </tr>
              </thead>
              <tbody>
              {% for artefact in artefactsUnderDevice %}
              <tr>
                <td><a href="/sms_artefacts/show/{{ artefact.artefact_id }}">{{ artefact.name }}</a></td>
                <td>{{ artefact.version }}</td>
                <td></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <hr>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <h2>Issues:</h2>
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Info</th>
                <th>Confirmed</th>
                <th>Inherit</th>
              </tr>
              </thead>
              <tbody>
              {% for issue in issuesForThisDevice %}
              <tr>
                <td><a href="/sms_issues/show/{{ issue.IssueID }}">{{ issue.DeviceType|truncatechars:20 }}</a></td>
                <td>{{ issue.AdditionalInfo|truncatechars:13 }}</td>
                <td>{% if issue.Confirmed %}<i class="fa fa-handshake-o" aria-hidden="true"></i>{% endif %}</td>
                <td>{% if issue.Inherit %}TRUE{% endif %}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <hr>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <h2>Reports:</h2> <p><a class="btn btn-primary btn-lg" href="/sms_securityReportLink/createSMSSecurityReportLink/{{device.device_id}}/sms_device" role="button">Add</a></p>
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Scanner</th>
                <th>ScannerVersion</th>
                <th>UploadDate</th>
                <th><i class="fa fa-trash-o"></i></th>
              </tr>
              </thead>
              <tbody>
              {% for report in reportsForThisDevice %}
              <tr>
                <td><a href="/sms_securityReports/show/{{ report.ReportID }}">{{ report.ReportName|truncatechars:20 }}</a></td>
                <td>{{ report.ScannerName }}</td>
                <td>{{ report.ScannerVersion }}</td>
                <td>{{ report.UploadDate|truncatechars:13 }}</td>
                <td><a href="/sms_securityReportLink/remove/{{ report.ReportID }}/{{device.device_id}}/sms_device" class="button"><i class="fa fa-close"></i></a></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>

          </div>
          <div class="col-md-6">
            <h2>Issues:</h2>

          </div>
        </div>
      </div> <!-- /container -->
      
{% endblock %}