{% extends "layout.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron banner">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-8">
        <h1 class="display-3" ></h1>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

      <div class="container">
        {% if error|length > 1 %}
        <div class="alert alert-warning" role="alert">
          {{error}}
        </div>
        {% endif %}
      </div>

      <div class="container">

        <div class="row">
          <div class="col-md-5">
            <h1>DeviceInstance</h1> <h2>Details:</h2>
            <ul class="list-group">
              <li class="list-group-item">Project: <a href="/sms_projects/show/{{ deviceInstance.project_id }}">{{ deviceInstance.projectName }}</a></li>
              <li class="list-group-item">Device: {{ deviceInstance.deviceType }}</li>
              <li class="list-group-item">Version: {{deviceInstance.deviceVersion}}</li>
              <li class="list-group-item">Serial: {{deviceInstance.serialnumber}}</li>
              <li class="list-group-item">Provisioner: {{deviceInstance.provisioner}}</li>
              <li class="list-group-item">Configuration: {{deviceInstance.configuration}}</li>
              <li class="list-group-item">Date: {{deviceInstance.date|truncatechars:13}}</li>
            </ul>
          </div>

          <div class="col-md-7">
            <h2>Based on (Model):</h2>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{deviceModel.devicetype_id}}&nbsp;in Version:&nbsp;{{deviceModel.version}}</h5>
                <p class="card-text">Device was released at {{deviceModel.date}}</p>
                <a href="/sms_devices/show/{{ deviceModel.device_id }}" class="btn btn-primary" role="button">View &raquo;</a>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-12">
            <h2>Update Log:</h2> <p><a class="btn btn-primary btn-lg" href="/smsupdateHistory/createSMSUpdateHistory/{{deviceInstanceId}}" role="button">Add</a></p>
            <table class="table">
              <thead>
              <tr>
                <th>Date</th>
                <th>User</th>
                <th>Type</th>
                <th>Description</th>
                <th>Reference</th>
              </tr>
              </thead>
              <tbody>
              {% for updateLog in deviceInstanceUpdateHistories %}
              <tr>
                <td>{{ updateLog.date|truncatechars:13 }}</td>
                <td>{{ updateLog.user }}</td>
                <td>{{ updateLog.updateType }}</td>
                <td>{{ updateLog.description|truncatechars:40 }}</td>
                <td><a href="/sms_updateHistory/show/{{ updateLog.updateHistory_id }}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <hr>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <h2>Issues:</h2>
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Info</th>
                <th>Confirmed</th>
                <th>Inherit</th>
              </tr>
              </thead>
              <tbody>
              {% for issue in issuesForThisDeviceInstance %}
              <tr>
                <td><a href="/sms_issues/show/{{ issue.IssueID }}">{{ issue.DeviceType|truncatechars:20 }}</a></td>
                <td>{{ issue.AdditionalInfo|truncatechars:13 }}</td>
                <td>{% if issue.Confirmed %}<i class="fa fa-handshake-o" aria-hidden="true"></i>{% endif %}</td>
                <td>{% if issue.Inherit %}TRUE{% endif %}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <h2>XXXXX:</h2>

          </div>
        </div>
      </div> <!-- /container -->
      
{% endblock %}