{% extends "layout.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron banner">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-8">
        <h1 class="display-3" ></h1>
        <h4 hidden class="glow">Investigation of methods for firmware analysis of embedded Linux Devices in preparation for security testing / fuzzing.</h4>
        <p hidden><a class="btn btn-primary btn-lg" href="/documentation" role="button">See Documentation &raquo;</a></p>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

        <div class="container">
          {% if error|length > 1 %}
            <div class="alert alert-warning" role="alert">
              {{error}}
            </div>
          {% endif %}
        </div>

<div class="container">
  <div class="row">
    <nav class="navbar navbar-expand-md" style="background-color: #343a40; border-radius: 5px; margin-top: 20px;">
      <div class="container">
        <ul class="navbar-nav">
          <!-- Overview Button -->
          <li class="nav-item">
            <a class="nav-link text-light font-weight-bold" href="/sms_projects">Overview</a>
          </li>

          <!-- Abstract System (Model) Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light font-weight-bold" href="#" id="navbarAbstractSystem" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Abstract System (Model)
            </a>
            <div class="dropdown-menu bg-dark">
              <a class="dropdown-item text-light" href="/sms_systems">Systems</a>
              <a class="dropdown-item text-light" href="/sms_devices">Devices</a>
              <a class="dropdown-item text-light" href="/sms_softwares">Applications</a>
              <a class="dropdown-item text-light" href="/sms_components">Components</a>
              <a class="dropdown-item text-light" href="/sms_hardwaredesigns">Hardware Design</a>
              <a class="dropdown-item text-light" href="/sms_elementsearch-ui">Search</a>
            </div>
          </li>

          <!-- Instances (Fleet) Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light font-weight-bold" href="#" id="navbarInstances" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Instances (Fleet)
            </a>
            <div class="dropdown-menu bg-dark">
              <a class="dropdown-item text-light" href="/sms_projects">Projects</a>
              <a class="dropdown-item text-light" href="/sms_deviceInstances">Instances</a>
            </div>
          </li>

          <!-- Security Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light font-weight-bold" href="#" id="navbarSecurity" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Security
            </a>
            <div class="dropdown-menu bg-dark">
              <a class="dropdown-item text-light" href="/sms_issues">Issues</a>
              <a class="dropdown-item text-light" href="/sms_certifications">Certifications</a>
              <a class="dropdown-item text-light" href="/sms_securityReports">Reports</a>
              <a class="dropdown-item text-light" href="/sms_updates">Updates</a>
              <a class="dropdown-item text-light" href="/sms_update_centers">UpdateCenter</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light font-weight-bold" href="#" id="navbarMisc" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Config
            </a>
            <div class="dropdown-menu bg-dark">
              <a class="dropdown-item text-light" href="/sms_projectSettings">Settings</a>
              <a class="dropdown-item text-light" href="/sms_checklistTemplates">Check List Templates</a>
              <a class="dropdown-item text-light" href="/sms_deviceIPDefinitions">IP Definition</a>
              <a class="dropdown-item text-light" href="/sms_deviceCheckDefinitions">Check Definition</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light font-weight-bold" href="#" id="navbarMisc" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Doc
            </a>
            <div class="dropdown-menu bg-dark">
              <a class="dropdown-item text-light" href="/sms_releaseNotes">Release Notes</a>
              <a class="dropdown-item text-light" href="/sms_manuals">Manuals</a>
              <a class="dropdown-item text-light" href="/sms_checklists">Checklists</a>
            </div>
          </li>

          <!-- Misc Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light font-weight-bold" href="#" id="navbarMisc" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Misc
            </a>
            <div class="dropdown-menu bg-dark">
              <a class="dropdown-item text-light" href="/sms_artefacts">Artefacts</a>
              <a class="dropdown-item text-light" href="/sms_statistics">Statistics</a>
            </div>
          </li>

        </ul>
      </div>
    </nav>

  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <p><a class="btn btn-primary btn-lg" href="/sms_projects/createSMSProject" role="button">New Project &raquo;</a></p>
  </div>

  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <h2>Projects:</h2>
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
      <br>
      <table class="table">
        <thead>
        <tr>
          <th>Plant Number</th> <!-- NEU -->
          <th>Name</th>
          <th>Date</th>
          <th>Type</th>
          <th>Reference</th>
          <th>Active?</th>
          <th><i class="fa fa-trash-o"></i></th>
        </tr>
        </thead>
        <tbody id="myTable">
        {% for project in projectList %}
        <tr>
          <td>{{ project.PlantNumber }}</td> <!-- NEU -->
          <td><a href="/sms_projects/show/{{ project.Project_id }}">{{ project.Name }}</a></td>
          <td>{{ project.Date|truncatechars:13 }}</td>
          <td>{{ project.Projecttype }}</td>
          <td>{{ project.Reference }}</td>
          <td>{{ project.Active }}</td>
          <td><a href="/sms_projects/remove/{{ project.Project_id }}" class="button"><i class="fa fa-close"></i></a></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-1">
    </div>
  </div>

  <hr>
</div> <!-- /container -->
      
{% endblock %}


