{% extends "layout.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron banner">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-8">
        <h1 class="display-3" ></h1>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

      <div class="container">
        {% if error|length > 1 %}
        <div class="alert alert-warning" role="alert">
          {{error}}
        </div>
        {% endif %}
      </div>

      <div class="container">

        <div class="row">
          <div class="col-md-2">
          </div>

          <div class="col-md-8">
            <form action="/sms_projectSettingsLink/addSMSProjectSettingsLink" method="POST">
              <div class="form-group">
                <h3>Add Settings to Project {{ projectId }}:</h3>
                </br>

                <!-- Projekt-ID (readonly) -->
                <label for="Project_id">Project ID:</label>
                <input type="text" class="form-control" name="Project_id" id="Project_id" value="{{ projectId }}" readonly>
                </br>

                <!-- Auswahl der verfügbaren Settings -->
                {% for setting in settingsList %}
                <div>
                  <!-- Checkbox für jede Einstellung -->
                  <input type="checkbox" name="Settings_ids[]" value="{{ setting.SettingID }}">
                  <label>{{ setting.KeyName }} ({{ setting.ValueType }})</label>

                  <!-- Textfeld für den Wert der Einstellung -->
                  <input type="text" name="SettingValue_{{ setting.SettingID }}" placeholder="Enter value for {{ setting.KeyName }}">
                </div>
                {% endfor %}

              </div>
              <button type="submit" class="btn btn-primary">Add</button>
            </form>
          </div>

          <div class="col-md-2">
          </div>
        </div>

        <hr>
      </div> <!-- /container -->
      
{% endblock %}

