{% extends "layout.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron banner">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-8">
        <h1 class="display-3" ></h1>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

      <div class="container">
        {% if error|length > 1 %}
        <div class="alert alert-warning" role="alert">
          {{error}}
        </div>
        {% endif %}
      </div>

      <div class="container">
        <div class="row">
          <h1>{{issue.name}}&nbsp;&nbsp;&nbsp;&nbsp;</h1>
        </div>

        <div class="row">
          <div class="col-md-4">
            <ul class="list-group">
              <li class="list-group-item">ID: {{issue.issue_id}}</li>
              <li class="list-group-item">Type: {{issue.issueType}}</li>
              <li class="list-group-item">Reference: {{issue.reference}}</li>
              <li class="list-group-item">Crit: {{issue.criticality}}</li>
              <li class="list-group-item">CVE: {{issue.cve}}</li>
              <li class="list-group-item">Date: {{issue.date|truncatechars:13}}</li>
            </ul>
          </div>

          <div class="col-md-8">
            <h2>Solutions:</h2> <p><a class="btn btn-primary btn-lg" href="/sms_solutions/createSMSSolution/{{issue.issue_id}}" role="button">Add</a></p>
              <table class="table">
                <thead>
                <tr>
                  <th>Date</th>
                  <th>Name</th>
                  <th>Devices</th>
                  <th>Description</th>
                  <th>Ref.</th>
                </tr>
                </thead>
                <tbody>
                {% for solution in solutionsForThisIssue %}
                <tr>
                  <td>{{ solution.date|truncatechars:13}}</td>
                  <td><a href="/sms_solutions/show/{{ solution.solution_id }}">{{ solution.name }}</a></td>
                  <td>{{ solution.deviceTypeJoined}}</td>
                  <td>{{ solution.description|truncatechars:13}}</td>
                  <td><a href="{{ solution.reference }}"><i class="fa fa-chevron-right"></i></a></td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
          </div>
        </div>

        <hr>
        <div class="row">
          <h2>Description:&nbsp; &nbsp; </h2>
          <textarea id="textfeld_01_id" name="textfeld_01" rows="6" cols="85" readonly>{{issue.description}}</textarea>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-6">
            <h2>Affected Devices:</h2> <p><a class="btn btn-primary btn-lg" href="/sms_issueAffectedDevice/createSMSIssueAffectedDevice/{{issue.issue_id}}" role="button">Add</a></p>
            <table class="table">
              <thead>
              <tr>
                <th>Device</th>
                <th>Version</th>
                <th>Inherit?</th>
                <th><i class="fa fa-trash-o"></i></th>
              </tr>
              </thead>
              <tbody>
              {% for device in affectedDevices %}
              <tr>
                <td><a href="/sms_devices/show/{{ device.device_id }}">{{ device.tmp }}</a></td>
                <td>{{ device.tmp2 }}</td>
                <td></td>
                <td><a href="/sms_issueAffectedDevice/remove/{{issue.issue_id}}/{{ device.device_id }}" class="button"><i class="fa fa-close"></i></a></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <h2>Affected Software:</h2> <p><a class="btn btn-primary btn-lg" href="/sms_issueAffectedSoftware/createSMSIssueAffectedSoftware/{{issue.issue_id}}" role="button">Add</a></p>
            <table class="table">
              <thead>
              <tr>
                <th>Software</th>
                <th>Version</th>
                <th>Inherit?</th>
                <th><i class="fa fa-trash-o"></i></th>
              </tr>
              </thead>
              <tbody>
              {% for software in affectedSoftwares %}
              <tr>
                <td><a href="/sms_softwares/show/{{ software.software_id }}">{{ software.tmp }}</a></td>
                <td>{{ software.tmp2 }}</td>
                <td></td>
                <td><a href="/sms_issueAffectedSoftware/remove/{{issue.issue_id}}/{{ software.software_id }}" class="button"><i class="fa fa-close"></i></a></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>


        </div>
        <hr>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <h2>Affected Components:</h2> <p><a class="btn btn-primary btn-lg" href="/sms_issueAffectedComponent/createSMSIssueAffectedComponent/{{issue.issue_id}}" role="button">Add</a></p>
            <table class="table">
              <thead>
              <tr>
                <th>Component</th>
                <th>Version</th>
                <th><i class="fa fa-trash-o"></i></th>
              </tr>
              </thead>
              <tbody>
              {% for component in affectedComponents %}
              <tr>
                <td><a href="/sms_components/show/{{ component.component_id }}">{{ component.component_name }}</a></td>
                <td>{{ component.component_version }}</td>
                <td><a href="/sms_issueAffectedComponent/remove/{{issue.issue_id}}/{{ component.component_id }}" class="button"><i class="fa fa-close"></i></a></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <h2>Affected Artefacts:</h2> <p><a class="btn btn-primary btn-lg" href="/sms_issueAffectedArtefact/createSMSIssueAffectedArtefact/{{issue.issue_id}}" role="button">Add</a></p>
            <table class="table">
              <thead>
              <tr>
                <th>Artefact</th>
                <th>Version</th>
                <th><i class="fa fa-trash-o"></i></th>
              </tr>
              </thead>
              <tbody>
              {% for artefact in affectedArtefacts %}
              <tr>
                <td><a href="/sms_artefacts/show/{{ artefact.artefact_id }}">{{ artefact.artefact_name }}</a></td>
                <td>{{ artefact.artefact_version }}</td>
                <td><a href="/sms_issueAffectedArtefact/remove/{{issue.issue_id}}/{{ artefact.artefact_id }}" class="button"><i class="fa fa-close"></i></a></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <hr>
        <hr>

        <div class="row">
          <div class="col-md-3">
            <ul class="list-group">
              <li class="list-group-item">Affect. Instances: {{issueaffectedStatistics.AffectedDeviceInstances}}</li>
              <li class="list-group-item">Affect. Projects: {{issueaffectedStatistics.AffectedProjects}}</li>
              <li class="list-group-item">Affect. Devices: {{issueaffectedStatistics.DistinctDeviceVersionCombinations}}</li>
              <li class="list-group-item">Affect. Devices\Inst.: {{issueaffectedStatistics.AffectedDevicesWithoutInstances}}</li>
            </ul>
          </div>
          <div class="col-md-9">
            <h2>Affected DeviceInstances and their Projects:</h2>
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
            <table class="table">
              <thead>
              <tr>
                <th>DeviceID</th>
                <th>DeviceType</th>
                <th>Version</th>
                <th>Project</th>
              </tr>
              </thead>
              <tbody id="myTable">
              {% for element in affectedDeviceInstancesAndProjects %}
              <tr>
                <td><a href="/sms_deviceInstances/show/{{ element.deviceInstance_id }}">{{ element.deviceInstance_id }}</a></td>
                <td>{{ element.devicetype }}</td>
                <td>{{ element.version }}</td>
                <td><a href="/sms_projects/show/{{ element.project_id }}">{{ element.project_id }}</a></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
        <hr>

      </div> <!-- /container -->
      
{% endblock %}