{% extends "layout.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron banner">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-8">
        <h1 class="display-3" ></h1>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

        <div class="container">
          {% if error|length > 1 %}
            <div class="alert alert-warning" role="alert">
              {{error}}
            </div>
          {% endif %}
        </div>

<div class="container">
  <div class="row">
    <nav class="navbar navbar-expand-md" style="background-color: #343a40; border-radius: 5px; margin-top: 20px;">
      <div class="container">
        <ul class="navbar-nav">
          <!-- Overview Button -->
          <li class="nav-item">
            <a class="nav-link text-light font-weight-bold" href="/sms_projects">Overview</a>
          </li>

          <!-- Abstract System (Model) Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light font-weight-bold" href="#" id="navbarAbstractSystem" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Abstract System (Model)
            </a>
            <div class="dropdown-menu bg-dark">
              <a class="dropdown-item text-light" href="/sms_systems">Systems</a>
              <a class="dropdown-item text-light" href="/sms_devices">Devices</a>
              <a class="dropdown-item text-light" href="/sms_softwares">Applications</a>
              <a class="dropdown-item text-light" href="/sms_components">Components</a>
            </div>
          </li>

          <!-- Instances (Fleet) Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light font-weight-bold" href="#" id="navbarInstances" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Instances (Fleet)
            </a>
            <div class="dropdown-menu bg-dark">
              <a class="dropdown-item text-light" href="/sms_projects">Projects</a>
              <a class="dropdown-item text-light" href="/sms_deviceInstances">Instances</a>
            </div>
          </li>

          <!-- Security Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light font-weight-bold" href="#" id="navbarSecurity" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Security
            </a>
            <div class="dropdown-menu bg-dark">
              <a class="dropdown-item text-light" href="/sms_issues">Issues</a>
              <a class="dropdown-item text-light" href="/sms_certifications">Certifications</a>
              <a class="dropdown-item text-light" href="/sms_securityReports">Reports</a>
            </div>
          </li>

          <!-- Artefacts Button -->
          <li class="nav-item">
            <a class="nav-link text-light font-weight-bold" href="/sms_artefacts">Artefacts</a>
          </li>

          <!-- Misc Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light font-weight-bold" href="#" id="navbarMisc" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Misc
            </a>
            <div class="dropdown-menu bg-dark">
              <a class="dropdown-item text-light" href="/sms_releaseNotes">Release Notes</a>
              <a class="dropdown-item text-light" href="/sms_manuals">Manuals</a>
              <a class="dropdown-item text-light" href="/sms_projectSettings">Settings</a>
            </div>
          </li>

          <!-- Statistics Button -->
          <li class="nav-item">
            <a class="nav-link text-light font-weight-bold" href="/sms_statistics">Statistics</a>
          </li>

        </ul>
      </div>
    </nav>

  </div>
</div>
<hr>

      <div class="container">
        <div class="row">
          <p><a class="btn btn-primary btn-lg" href="/sms_softwares/createSMSSoftware" role="button">New Software &raquo;</a></p>
        </div>

        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <h2>Applications:</h2>
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
            <br>
            <table class="table">
              <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Version</th>
                <th>Date</th>
                <th>License</th>
                <th>3rd Party</th>
                <th><i class="fa fa-trash-o"></i></th>
              </tr>
              </thead>
              <tbody id="myTable">
              {% for software in softwareList %}
              <tr>
                <td>{{ software.software_id }}</td>
                <td><a href="/sms_softwares/show/{{ software.software_id }}">{{ software.typeName }}</a></td>
                <td>{{ software.version }}</td>
                <td>{{ software.date|truncatechars:13 }}</td>
                <td>{{ software.license }}</td>
                <td>{{ software.thirdParty }}</td>
                <td><a href="/sms_softwares/remove/{{software.software_id}}" class="button"><i class="fa fa-close"></i></a></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-md-2">
          </div>
        </div>

        <hr>

      </div> <!-- /container -->
      
{% endblock %}


