{% extends "layout.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron banner">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-8">
        <h1 class="display-3" ></h1>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

      <div class="container">
        {% if error|length > 1 %}
        <div class="alert alert-warning" role="alert">
          {{error}}
        </div>
        {% endif %}
      </div>

<!-- sms_createChecklistTemplate.html -->
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h3>Neue Checkliste erstellen</h3>
      <form action="/sms_checklistTemplate/add" method="POST">
        <div class="form-group">
          <label for="Name">Name:</label>
          <input type="text" class="form-control" name="Name" required>
        </div>
        <div class="form-group">
          <label for="Description">Beschreibung:</label>
          <textarea class="form-control" name="Description" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Speichern</button>
      </form>
    </div>
  </div>
</div>
      
{% endblock %}

