{% extends "layout.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron banner">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-8">
        <h1 class="display-3" ></h1>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

      <div class="container">
        {% if error|length > 1 %}
        <div class="alert alert-warning" role="alert">
          {{error}}
        </div>
        {% endif %}
      </div>

      <div class="container">

        <div class="row">
          <div class="col-md-5">
            <ul class="list-group">
              <li class="list-group-item"><h1>Name: {{system.systemtype_id}}</h1></li>
              <li class="list-group-item">Version: <h2>{{system.version}}</h2></li>
              <li class="list-group-item">Date: {{system.date|truncatechars:13}}</li>

            </ul>
          </div>

          <div class="col-md-4">
            <h2>Certificates:</h2> <p><a class="btn btn-primary btn-lg" href="/sms_systemHasCertification/createSMSSystemHasCertification/{{system.system_id}}" role="button">Add</a></p>
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Info</th>
                <th><i class="fa fa-trash-o"></i></th>
              </tr>
              </thead>
              <tbody>
              {% for certificate in systemHasCertificates %}
              <tr>
                <td><a href="/sms_certifications/show/{{ certificate.certification_id }}">{{ certificate.certification_name }}</a></td>
                <td>{{ certificate.additionalInfo|truncatechars:20 }}</td>
                <td><a href="/sms_systemHasCertification/removeSMSSystemHasCertification/{{system.system_id}}/{{ certificate.certification_id }}" class="button"><i class="fa fa-close"></i></a></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-md-3">
            <h2>Manufacturing Order:</h2> <p><a class="btn btn-primary btn-lg" href="/sms_manufacturingOrder/createSMSManufacturingOrder/{{system.system_id}}" role="button">Add</a></p>
            <table class="table">
              <thead>
              <tr>
                <th>ID</th>
                <th>Start</th>
                <th>End</th>
              </tr>
              </thead>
              <tbody>
              {% for order in systemManufacturingOrders %}
              <tr>
                <td><a href="/sms_manufacturingOrder/show/{{ order.manufacturingOrder_id }}">{{ order.manufacturingOrder_id }}</a></td>
                <td>{{ order.start|truncatechars:13 }}</td>
                <td>{{ order.end|truncatechars:13 }}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table>

          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-6">
            <h2>Devices:</h2> <p><a class="btn btn-primary btn-lg" href="/sms_devicePartOfSystem/createSMSDevicePartOfSystem/{{system.system_id}}" role="button">Add</a></p>
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Version</th>
                <th><i class="fa fa-trash-o"></i></th>
              </tr>
              </thead>
              <tbody>
              {% for device in devicesUnderSystem %}
              <tr>
                <td><a href="/sms_devices/show/{{ device.device_id }}">{{ device.name }}</a></td>
                <td>{{ device.version }}</td>
                <td></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>

          </div>
          <div class="col-md-6">
            <h2>Issues:</h2>
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Info</th>
                <th>Confirmed</th>
                <th>Inherit</th>
                <th>-> Device</th>
              </tr>
              </thead>
              <tbody>
              {% for issue in deviceIssuesForThisSystem %}
              <tr>
                <td><a href="/sms_issues/show/{{ issue.IssueID }}">{{ issue.DeviceType|truncatechars:20 }}</a></td>
                <td>{{ issue.AdditionalInfo|truncatechars:13 }}</td>
                <td>{% if issue.Confirmed %}<i class="fa fa-handshake-o" aria-hidden="true"></i>{% endif %}</td>
                <td>{% if issue.Inherit %}SUB {% else %} Device{% endif %}</td>
                <td><a href="/sms_devices/show/{{ issue.DeviceID }}">{{ issue.DeviceID }}</a></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <hr>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <h1>Structure:</h1>
            <a class="btn btn-primary btn-lg mb-2" href="/sms_systems/downloadSystemStructureJSON/{{ system.system_id }}" role="button">
              Download JSON (without Artefacts)
            </a>
            <ul id="myUL">
              <li><span class="caret"><h2>{{system.Systemtype_id}} Version: {{systemTree.Version}}</h2></span>

                <!-- System-Artefakte -->
                {% if systemTree.Artefacts and systemTree.Artefacts | length > 0 %}
                <ul class="nested">
                  <li><span class="caret">System Artefacts</span>
                    <ul class="nested">
                      {% for art in systemTree.Artefacts %}
                      <li>{{ art.Name }} {{ art.Version }}</li>
                      {% endfor %}
                    </ul>
                  </li>
                </ul>
                {% endif %}

                {% for device in systemTree.Devices %}
                <ul class="nested">
                  <li><span class="caret"><h3>{{device.Name}}&nbsp;{{device.Version}}</h3></span>

                    <!-- Device-Artefakte -->
                    {% if device.Artefacts and device.Artefacts | length > 0 %}
                    <ul class="nested">
                      <li><span class="caret">Device Artefacts</span>
                        <ul class="nested">
                          {% for art in device.Artefacts %}
                          <li>{{ art.Name }} {{ art.Version }}</li>
                          {% endfor %}
                        </ul>
                      </li>
                    </ul>
                    {% endif %}

                    {% for app in device.Applications %}
                    <ul class="nested">
                      <li><span class="caret">{{app.Name}}&nbsp;{{app.Version}}</span>
                        {% if app.Components and app.Components | length > 0 %}
                        <ul class="nested">
                          {% for comp in app.Components %}
                          <li><span class="caret">{{comp.Name}}&nbsp;{{comp.Version}}</span></li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                      </li>
                    </ul>
                    {% endfor %}
                  </li>
                </ul>
                {% endfor %}
              </li>
            </ul>

          </div>

        </div>
        <hr>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <h2>Reports:</h2> <p><a class="btn btn-primary btn-lg" href="/sms_securityReportLink/createSMSSecurityReportLink/{{system.system_id}}/sms_system" role="button">Add</a></p>
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Scanner</th>
                <th>ScannerVersion</th>
                <th>UploadDate</th>
                <th><i class="fa fa-trash-o"></i></th>
              </tr>
              </thead>
              <tbody>
              {% for report in reportsForThisSystem %}
              <tr>
                <td><a href="/sms_securityReports/show/{{ report.ReportID }}">{{ report.ReportName|truncatechars:20 }}</a></td>
                <td>{{ report.ScannerName }}</td>
                <td>{{ report.ScannerVersion }}</td>
                <td>{{ report.UploadDate|truncatechars:13 }}</td>
                <td><a href="/sms_securityReportLink/remove/{{ report.ReportID }}/{{system.system_id}}/sms_system" class="button"><i class="fa fa-close"></i></a></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>

          </div>
          <div class="col-md-6">
            <h2>Release Notes:</h2>
            <a href="/sms_systems/releasenotes/{{system.system_id}}" class="btn btn-primary">Release Notes anzeigen</a>
          </div>

        </div>
        <hr>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <h2>Artefacts (System-wide):</h2>
            <p>
              <a class="btn btn-primary btn-lg" href="/sms_artefactPartOfSystem/createSMSArtefactPartOfSystem/{{system.System_id}}" role="button">Add</a>
            </p>

            <table class="table">
              <thead>
              <tr>
                <th>Artefact Type</th>
                <th>Version</th>
                <th>Del</th>
              </tr>
              </thead>
              <tbody>
              {% for artefact in artefactsUnderSystem %}
              <tr>
                <td>
                  <a href="/sms_artefacts/show/{{ artefact.Artefact_id }}">{{ artefact.ArtefactType }}</a>
                </td>
                <td>{{ artefact.Version }}</td>
                <td>
                  <a class="btn btn-danger" href="/sms_artefactPartOfSystem/remove?system_id={{ system.System_id }}&artefact_id={{ artefact.Artefact_id }}">Delete</a>
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>

          </div>
          <div class="col-md-6">
            <h2>Hardware Design:</h2>
            <p>
              <a class="btn btn-outline-primary" href="/sms_hardwaredesignPartOfSystem/create/{{ system.System_id }}" role="button">
                Add Hardware Design
              </a>
            </p>

            {% if hardwaredesignListForSystem|length == 0 %}
            <div class="alert alert-info">No hardware design linked to this system.</div>
            {% else %}
            <ul class="list-group">
              {% for hd in hardwaredesignListForSystem %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                  <strong><a href="/sms_hardwaredesigns/show/{{ hd.HardwareDesignID }}">{{ hd.Name }}</a></strong><br>
                  <small>Version: {{ hd.Version }}, Author: {{ hd.Author }}</small><br>
                  <small><em>{{ hd.Description|truncatechars:100 }}</em></small><br>
                  {% if hd.AdditionalInfo %}
                  <small class="text-muted">Note: {{ hd.AdditionalInfo }}</small>
                  {% endif %}
                </div>
                <a class="btn btn-sm btn-danger" href="/sms_hardwaredesignPartOfSystem/remove?system_id={{ system.System_id }}&hardwaredesign_id={{ hd.HardwareDesignID }}">
                  <i class="fa fa-trash-o"></i>
                </a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>

        </div>
        </hr>
        <div class="row">
          <div class="col-md-6">
            <h3>
              System-Checklisten&nbsp;&nbsp;
              <form action="/sms_checklistInstance/generateForSystem/{{ system.System_id }}" method="POST" class="d-inline">
                <div class="input-group">
                  <select name="ChecklistTemplateID" class="form-select" required>
                    <option value="">Neue Checkliste instanziieren...</option>
                    {% for tmpl in checklistTemplates %}
                    <option value="{{ tmpl.ChecklistTemplateID }}">{{ tmpl.Name }}</option>
                    {% endfor %}
                  </select>
                  <button class="btn btn-success" type="submit">
                    <i class="fa fa-plus-circle"></i>
                  </button>
                </div>
              </form>
            </h3>

            {% if systemChecklistInstances and systemChecklistInstances|length > 0 %}
            <table class="table table-hover table-bordered table-sm mt-3">
              <thead class="table-dark">
              <tr>
                <th>Vorlage</th>
                <th>Status</th>
                <th>Erstellt am</th>
                <th>Details</th>
              </tr>
              </thead>
              <tbody>
              {% for inst in systemChecklistInstances %}
              <tr>
                <td>{{ inst.TemplateName }}</td>
                <td>
                  {% if inst.Status == 'done' %}
                  ✅ Abgeschlossen
                  {% elif inst.Status == 'in_progress' %}
                  🕒 In Bearbeitung
                  {% else %}
                  🟡 Offen
                  {% endif %}
                </td>
                <td>{{ inst.GeneratedAt|truncatechars:19 }}</td>
                <td>
                  <a class="btn btn-sm btn-outline-info" href="/sms_checklistInstance/show/{{ inst.ChecklistInstanceID }}">
                    Anzeigen
                  </a>
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
            {% else %}
            <p class="text-muted">Keine System-Checklisten vorhanden.</p>
            {% endif %}
          </div>
        </div>

      </div> <!-- /container -->
<hr>

{% endblock %}