{% extends "layout.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron banner">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-8">
        <h1 class="display-3" ></h1>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

      <div class="container">
        {% if error|length > 1 %}
        <div class="alert alert-warning" role="alert">
          {{error}}
        </div>
        {% endif %}
      </div>

      <div class="container">
        <h1>Software:</h1>
        <div class="row">
          <div class="col-md-5">
            <ul class="list-group">
              <li class="list-group-item">ID: {{software.software_id}}</li>
              <li class="list-group-item"><h2>Name: {{software.typeName}}</h2></li>
              <li class="list-group-item">Version: <h3>{{software.version}}</h3></li>
              <li class="list-group-item">Date: {{software.date|truncatechars:13}}</li>
              <li class="list-group-item">License: {{software.license}}</li>
              <li class="list-group-item">3rdParty: {{software.thirdParty}}</li>
            </ul>
          </div>

          <div class="col-md-7">
            <h2>Used in following Devices:</h2>
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Version</th>
                <th>Del</th>
              </tr>
              </thead>
              <tbody>
              {% for device in devicesParentsOfSoftware %}
              <tr>
                <td><a href="/sms_devices/show/{{ device.device_id }}">{{ device.name }}</a></td>
                <td>{{ device.version }}</td>
                <td></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>

          </div>
        </div>

        <hr>
        <hr>

        <div class="row">
          <div class="col-md-12">
            <h2>Release Notes:</h2>
            <textarea id="textfeld_01_id" name="textfeld_01" rows="6" cols="85" readonly>{{software.releaseNote}}</textarea>
          </div>
        </div>
        <hr>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <h2>Sub Components:</h2> <p><a class="btn btn-primary btn-lg" href="/sms_componentPartOfSoftware/createSMSComponentPartOfSoftware/{{software.software_id}}" role="button">Add</a>&nbsp<a class="btn btn-primary btn-lg" href="/sms_componentPartOfSoftware/importSCAreportToComponentPartOfSoftwareView/{{software.software_id}}" role="button">Import SCA report</a></p>
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Version</th>
                <th>Del</th>
              </tr>
              </thead>
              <tbody>
              {% for component in componentsUnderSoftware %}
              <tr>
                <td><a href="/sms_components/show/{{ component.component_id }}">{{ component.name }}</a></td>
                <td>{{ component.version }}</td>
                <td></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>

          </div>
          <div class="col-md-6">
            <h2>Issues:</h2>

          </div>
        </div>
        <hr>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <h2>Uploaded SBOM Files:</h2>
            <ul>
              {% for file in SBOMFiles %}
              <li><a href="/uploads/{{software.software_id}}/{{file}}">{{file}}</a></li>
              {% endfor %}
            </ul>

          </div>
          <div class="col-md-6">
            <h2>Issues:</h2>

          </div>
        </div>
        <hr>
      </div> <!-- /container -->
      
{% endblock %}



