{% extends "layout.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron banner">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-8">
        <h1 class="display-3" ></h1>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

      <div class="container">
        {% if error|length > 1 %}
        <div class="alert alert-warning" role="alert">
          {{error}}
        </div>
        {% endif %}
      </div>

      <div class="container">

        <div class="row">
          <div class="col-md-5">
            <h1>DeviceInstance</h1> <h2>Details:</h2>
            <ul class="list-group">
              <li class="list-group-item">Project: <a href="/sms_projects/show/{{ deviceInstance.project_id }}">{{ deviceInstance.projectName }}</a></li>
              <li class="list-group-item">Device: {{ deviceInstance.deviceType }}</li>
              <li class="list-group-item">Version: {{deviceInstance.deviceVersion}}</li>
              <li class="list-group-item">Serial: {{deviceInstance.serialnumber}}</li>
              <li class="list-group-item">Provisioner: {{deviceInstance.provisioner}}</li>
              <li class="list-group-item">Configuration: {{deviceInstance.configuration}}</li>
              <li class="list-group-item">Date: {{deviceInstance.date|truncatechars:13}}</li>
            </ul>
          </div>

          <div class="col-md-7">
            <h2>Based on (Model):</h2>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{deviceModel.Devicetype_id}}&nbsp;in Version:&nbsp;{{deviceModel.Version}}</h5>
                <p class="card-text">Device was released at {{deviceModel.Date}}</p>
                <a href="/sms_devices/show/{{ deviceModel.Device_id }}" class="btn btn-primary" role="button">View &raquo;</a>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-12">
            <h2>Update Log:</h2> <p><a class="btn btn-primary btn-lg" href="/smsupdateHistory/createSMSUpdateHistory/{{deviceInstanceId}}" role="button">Add</a></p>
            <table class="table">
              <thead>
              <tr>
                <th>Date</th>
                <th>User</th>
                <th>Type</th>
                <th>Description</th>
                <th>Reference</th>
              </tr>
              </thead>
              <tbody>
              {% for updateLog in deviceInstanceUpdateHistories %}
              <tr>
                <td>{{ updateLog.Date|truncatechars:13 }}</td>
                <td>{{ updateLog.User }}</td>
                <td>
                  {% if updateLog.UpdateType == "DeviceUpgrade" %}
                  <span title="Device was upgraded"><i class="fa fa-wrench text-warning" aria-hidden="true"></i> Upgrade</span>
                  {% else %}
                  {{ updateLog.UpdateType }}
                  {% endif %}
                </td>
                <td>{{ updateLog.Description|truncatechars:60 }}</td>
                <td><a href="/sms_updateHistory/show/{{ updateLog.UpdateHistory_id }}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <hr>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <h2>Issues:</h2>
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Info</th>
                <th>Confirmed</th>
                <th>Inherit</th>
              </tr>
              </thead>
              <tbody>
              {% for issue in issuesForThisDeviceInstance %}
              <tr>
                <td><a href="/sms_issues/show/{{ issue.IssueID }}">{{ issue.DeviceType|truncatechars:20 }}</a></td>
                <td>{{ issue.AdditionalInfo|truncatechars:13 }}</td>
                <td>{% if issue.Confirmed %}<i class="fa fa-handshake-o" aria-hidden="true"></i>{% endif %}</td>
                <td>{% if issue.Inherit %}TRUE{% endif %}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <h2>Upgrade Device Instance:</h2>

            <form action="/sms_deviceInstances/upgrade/{{ deviceInstanceId }}" method="post">
              <div class="form-group">
                <label for="newDeviceID">Select new device version:</label>
                <select name="newDeviceID" id="newDeviceID" class="form-control">
                  {% for version in availableDeviceVersions %}
                  <option value="{{ version.Device_id }}">
                    {{ version.Version }} ({{ version.Date }})
                  </option>
                  {% endfor %}
                </select>
              </div>
              <button type="submit" class="btn btn-warning mt-2">⬆️ Upgrade</button>
            </form>
          </div>
        </div>
        <hr>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <h2>Artefacts for this Device Instance:</h2>
            <p>
              <a class="btn btn-primary btn-lg"
                 href="/sms_artefactPartOfDeviceInstance/create/{{deviceInstance.DeviceInstance_id}}"
                 role="button">Add Artefact</a>
            </p>

            <table class="table">
              <thead>
              <tr>
                <th>ArtefactName</th>
                <th>ArtefactType</th>
                <th>ArtefactVersion</th>
                <th>Additional Info</th>
                <th>Del</th>
              </tr>
              </thead>
              <tbody>
              {% for artefact in artefactsUnderDeviceInstance %}
              <tr>
                <td><a href="/sms_artefacts/show/{{ artefact.artefact_id }}">{{ artefact.ArtefactName }}</a></td>
                <td>{{ artefact.ArtefactType }}</td>
                <td>{{ artefact.ArtefactVersion }}</td>
                <td>
                  {% if artefact.OverridesModel %}
                  <span style="color: red; font-weight: bold;" title="Overrides Model Artefact">⚠️</span>
                  {% endif %}
                  {{ artefact.AdditionalInfo }}
                </td>
                <td>
                  <a class="btn btn-danger"
                     href="/sms_artefactPartOfDeviceInstance/remove/{{ artefact.DeviceInstanceID }}/{{ artefact.ArtefactID }}">
                    Delete
                  </a>
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-md-6">

          </div>
        </div>
      </div> <!-- /container -->
      
{% endblock %}