{% extends "layout.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron banner">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-8">
        <h1 class="display-3" ></h1>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

      <div class="container">
        {% if error|length > 1 %}
        <div class="alert alert-warning" role="alert">
          {{error}}
        </div>
        {% endif %}
      </div>

<div class="container">
  <h1>Project Update: {{ projectInfo.name }} - (ID: {{ projectInfo.project_id }})</h1>
  <div class="row">
    {% for systemType, deviceSoftwareList in systemTypeMap %}

    {# System Type Name holen #}
    <h4 class="mt-4">System Type:
      {% for item in systemTypeNameList %}
      {% if item.Key == systemType %}
      {{ item.Value }}
      {% endif %}
      {% endfor %}
    </h4>

    {# Clean-Status holen #}
    {% for item in systemTypeCleanList %}
    {% if item.Key == systemType %}
    {% if item.Value == false %}
    <div class="alert alert-warning">
      ⚠️ Misconfigured System?: Inaccurate device versions!
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}

    {# Tabelle beginnt hier #}
    <table class="table table-bordered">
      <thead class="table-dark">
      <tr>
        <th class="text-start">Device/Software</th>
        <th>Database</th>
        <th>Live-System</th>
        <th>Update-Package</th>
      </tr>
      </thead>
      <tbody>
      {% for entry in deviceSoftwareList %}
      <tr class="bg-lightgrey"> <!-- Set device background color -->
        <td class="text-start w-65">
          <strong>{{ entry.DeviceName }}</strong>
          {% if entry.DeviceCount > 1 %}
          <span class="small">({{ entry.DeviceCount }}x)</span>
          {% endif %}
          {% if entry.MostCommonSystemVersion %}
          {% if entry.IsInvalidSystemVersion %}
          <span class="text-danger small fst-italic">
                (belongs to System {{ entry.MostCommonSystemVersion }})
              </span>
          {% else %}
          <span class="text-muted small fst-italic">
                (belongs to System {{ entry.MostCommonSystemVersion }})
              </span>
          {% endif %}
          {% endif %}
        </td>
        <td >
          {{ entry.DeviceVersion }}
          {% if entry.ShortenedSystemVersions %}
          <div class="text-end small fst-italic text-muted">
            Systems: {{ entry.ShortenedSystemVersions }}
          </div>
          {% endif %}
        </td>
        <td class="bg-secondary text-white">-</td>
        <td class="bg-secondary text-white">-</td>
      </tr>
      {% for software in entry.SoftwareList %}
      <tr class="bg-lightergrey"> <!-- Set software background color -->
        <td class="text-start w-65 ps-4">↳ {{ software.SoftwareName }}</td>
        <td>
          {{ software.SoftwareVersion }}
          {% if entry.MostCommonSystemVersion %}
          <div class="text-end small fst-italic">
            Systems: {{ entry.MostCommonSystemVersion }}
          </div>
          {% endif %}
        </td>
        <td class="bg-secondary text-white">-</td>
        <td class="bg-secondary text-white">-</td>
      </tr>
      {% endfor %}
      {% endfor %}
      </tbody>
    </table>
    {% endfor %}
  </div>
</div>
      
{% endblock %}