{% extends "layout.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron banner">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-8">
        <h1 class="display-3" ></h1>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

      <div class="container">
        {% if error|length > 1 %}
        <div class="alert alert-warning" role="alert">
          {{error}}
        </div>
        {% endif %}
      </div>

      <div class="container">

        <div class="row">
          <div class="col-md-2">
          </div>

          <div class="col-md-8">
            <form action="/sms_systems/addSMSSystem" method="POST">
              <div class="form-group">

                <h3>Add new Project:</h3>
                </br>
                <label for="Version">Version:</label>
                <input type="text" class="form-control" name="Version" id="Version" placeholder="Version">
                </br>
                <label for="SystemtypeId">Type:</label>
                <input type="text" class="form-control" name="SystemtypeId" id="SystemtypeId" placeholder="SystemtypeId">
                </br>
                </br>

              </div>
              <button type="submit" class="btn btn-primary">Add</button>
            </form>
          </div>

          <div class="col-md-2">
          </div>
        </div>

        <hr>
      </div> <!-- /container -->
      
{% endblock %}

